<footer class="page-footer bg-jossie">
    <div class="container">
        <div class="row">
            <div class="col l4 s12 icons-container">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div class="col l4 s12">
                <ul class="icons-container">
                    <li class="fb"><i class="fab fa-facebook-f"></i></li>
                    <li class="ins"><i class="fab fa-instagram"></i></li>
                    <li class="you"><i class="fab fa-youtube"></i></li>
                </ul>
            </div>
            <div class="col l4 s12">
                <ul class="icons-container">
                    <li class="telf"><i class="fas fa-phone"></i></li>
                    <li class="numberphone">(01) 422-7720</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-center createdBy">
            Todos los derechos reservados © 2019 Josie Diez Canseco
        </div>
    </div>
</footer>