.suscripcionContent {
    padding: 0 40px 0 40px;
}

.textSlider {
    margin-top: 70px;
    text-align: center;
    color: #f57c00;
    font-weight: 600;
    font-size: 19px;
}

.titlePaquetes {
    color: rgb(28, 39, 88);
    font-weight: 600;
    z-index: 1000;
    cursor: default;
}

.imgSusc img {
    width: 100%;
    cursor: pointer;
    margin-top: -30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

.imgSusc:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.modal form {
    margin: 20px 0;
}

#contentLoading {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1501;
    background-color: rgba(0, 0, 0, .5);
}

.titleLoading {
    font-weight: 600;
    color: rgb(28, 39, 88);
    text-align: center;
    padding-bottom: 20px;
}

.bodyLoading {
    position: absolute;
    width: 40%;
    height: 200px;
    top: 30%;
    background-color: #ffffff;
    left: 30%;
    border-radius: 10px;
    padding: 15px 50px;
}

@media only screen and (max-width: 730px) {
    .publicidadImg {
        display: none;
    }
    .bodyLoading {
        width: 96%;
        height: 180px;
        left: 2%;
        padding: 15px 30px;
    }
    .titleLoading {
        font-size: 24px;
    }
}