<app-navbar></app-navbar>
<div class="containerBody">
    <div class="suscripcionContent">
        <app-suscripcionslide></app-suscripcionslide>
        <p class="textSlider">* Escoje el paquete que más prefieras *</p>

        <div class="row">
            <h4 class="titlePaquetes">Paquetes</h4>
            <div class="col l4 s12 imgSusc">
                <img src="../../../assets/img/suscripcion/s39.png" alt="">
            </div>
            <div class="col l4 s12 imgSusc">
                <img src="../../../assets/img/suscripcion/s19.png" alt="">
            </div>
            <div class="col l4 s12 imgSusc">
                <img src="../../../assets/img/suscripcion/s9.png" alt="">
            </div>
            <div class="col l12 s12 publicidadImg">
                <img src="../../../assets/img/publicidad/promo-10min-2.png" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>