<div class="navbar-fixed">
    <nav class=" bg-jossie">
        <div class="nav-wrapper">
            <a class="brand-logo"><img (click)="RedirectHome()" src="assets/img/logo.png" alt=""></a>
            <a class="brand-logo mobile" [innerHTML]="timerInput1"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li *ngIf="sessionStatus && roomStatus && onRoom" [innerHTML]="timerInput2" class="timeHistory" id="timeHistoryTwo">
                </li>
                <li *ngIf="sessionStatus && roomStatus && onRoom && PsiquicaRoom() != '3'">
                    <button (click)="TerminarChat()" class="waves-effect waves-light btn red darken-2 btnIniciarSesion">Terminar Chat</button>
                </li>
                <li *ngIf="!sessionStatus">
                    <button (click)="RedirectLogin()" class="waves-effect waves-light btn orange darken-2 btnIniciarSesion">Iniciar Sesión</button>
                </li>
                <li *ngIf="sessionStatus && !onRoom" (click)="routerAction('perfil')">
                    <i class="material-icons left">person</i>Perfil
                </li>
                <li class="nomargin" *ngIf="sessionStatus && !roomStatus">
                    <i class="material-icons left">chat</i> Chatear
                    <i class="material-icons right">arrow_drop_down</i>
                    <ul>
                        <li (click)="routerAction('chat-josie')">Con Josie</li>
                        <li (click)="routerAction('chat-psiquica')">Con Psiquicas</li>
                    </ul>
                </li>
                <li *ngIf="sessionStatus && roomStatus && !onRoom" (click)="routerAction('private-room')">
                    <i class="material-icons left">chat</i>Entrar al chat
                </li>
                <li *ngIf="sessionStatus && !onRoom" (click)="routerAction('compras')">
                    <i class="material-icons left">shopping_cart</i>Comprar
                </li>
                <li *ngIf="sessionStatus && !onRoom" (click)="routerAction('suscripcion')">
                    <i class="material-icons left">check</i>Suscribete
                </li>
                <li class="nomargin" *ngIf="sessionStatus && !onRoom">
                    <i class="material-icons left">settings</i> {{userNavbar}}
                    <i class="material-icons right">arrow_drop_down</i>
                    <ul class="morewidth">
                        <li (click)="routerAction('mis-compras')">Mis compras</li>
                        <li (click)="routerAction('chat-psiquica')">{{minutosPsiquica}} minutos</li>
                        <li (click)="routerAction('chat-josie')">{{citasPsiquica}} citas</li>
                        <li>
                            <button (click)="destroyTokenSession()" class="waves-effect waves-light btn orange darken-2 btn-large mbtnIniciarSesion">Cerrar Sesión</button>
                        </li>
                    </ul>
                </li>

            </ul>
            <span (click)="showMovileNavbar()" class="iconMovile"><i class="material-icons">menu</i></span>
        </div>

    </nav>
</div>

<div class="nav-movile-content" id="nav_movile_content">
    <div class="main-movile-content">
        <div class="main-movile-title">
            <img (click)="RedirectHome()" src="assets/img/logo.png" alt="">
        </div>
        <div class="main-movile-body" id="nav_movile_body">
            <ul>
                <li class="btnMovileLogin" *ngIf="!sessionStatus ">
                    <button (click)="RedirectLogin()" class="waves-effect waves-light btn orange darken-2 btn-large mbtnIniciarSesion">Iniciar Sesión</button>
                </li>
                <li *ngIf="sessionStatus && !onRoom" (click)="routerAction('perfil')">
                    <i class="material-icons">person</i>Perfil
                </li>
                <li *ngIf="sessionStatus  && !roomStatus">
                    <i class="material-icons">chat</i> Chatear
                    <i class="material-icons right">arrow_drop_down</i>
                    <ul>
                        <li (click)="routerAction('chat-josie')">Con Josie</li>
                        <li (click)="routerAction('chat-psiquica')">Con Psiquicas</li>
                    </ul>
                </li>
                <li *ngIf="sessionStatus && roomStatus && !onRoom" (click)="routerAction('private-room')">
                    <i class="material-icons ">chat</i>Entrar al chat
                    <i style="color: green;" class="fas fa-circle right"></i>
                </li>
                <li *ngIf="sessionStatus && !onRoom" (click)="routerAction('compras')">
                    <i class=" material-icons ">shopping_cart</i>Comprar
                </li>
                <li *ngIf="sessionStatus && !onRoom" (click)="routerAction('suscripcion')">
                    <i class="material-icons ">check</i>Suscribete
                </li>
                <li *ngIf="sessionStatus && !onRoom ">
                    <i class="material-icons ">settings</i> {{userNavbar}}
                    <i class="material-icons right ">arrow_drop_down</i>
                    <ul>
                        <li (click)="routerAction('mis-compras')">Mis compras</li>
                        <li (click)="routerAction('chat-psiquica')">{{minutosPsiquica}} minutos</li>
                        <li (click)="routerAction('chat-josie')">{{citasPsiquica}} citas</li>
                        <li class="helper_li_btn">
                            <button (click)="destroyTokenSession() " class="waves-effect waves-light btn orange darken-2 btn-large mbtnIniciarSesion ">Cerrar Sesión</button>
                        </li>
                    </ul>
                </li>
                <li class="btnMovileLogin " *ngIf="sessionStatus && roomStatus && onRoom && PsiquicaRoom() !='3' ">
                    <button (click)="TerminarChat() " class="waves-effect waves-light btn orange darken-2 btn-large mbtnIniciarSesion ">Terminar Chat</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-movile-exit" (click)="hideMovileNavbar()"></div>
</div>