.navbar-fixed li {
    cursor: pointer;
    padding: 0 10px;
}

.bg-jossie {
    background-color: rgb(28, 39, 88);
}

.brand-logo {
    padding: 10px 0 5px 80px;
}

.btnIniciarSesion {
    margin-right: 20px;
}

.mbtnIniciarSesion {
    width: 116%;
    margin: 0;
    margin-top: -15px;
    margin-left: -10px;
}

.tituloMenu {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(28, 39, 88);
    cursor: default;
    color: #FFFFFF;
    padding-top: 10px;
}

.mobile {
    display: none;
}

.timeHistory {
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

.navbar-fixed ul ul {
    display: none;
    position: absolute;
    top: 49px;
    background: #FFFFFF;
    color: rgb(28, 39, 88);
    padding: 5px 0px 5px 5px;
    margin: 0;
}

ul ul li {
    float: left;
    color: rgb(28, 39, 88);
    width: 100%;
    margin: 2% 0%;
    margin: 0;
    border-bottom: 1px solid rgb(28, 39, 88);
    height: 60px;
}

ul li:hover ul ul,
ul li:hover ul ul ul,
ul li.iehover ul ul,
ul li.iehover ul ul ul {
    display: none;
    cursor: pointer;
}

ul li:hover ul,
ul ul li:hover ul,
ul ul ul li:hover ul,
ul li.iehover ul,
ul ul li.iehover ul,
ul ul ul li.iehover ul {
    display: block;
    cursor: pointer;
    padding: 0;
}

ul ul li:last-child {
    border-bottom: 0;
}

.iconMovile {
    display: none;
}

.iconMovile i {
    padding: 0 10px;
}

.nav-movile-content {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99998;
    top: 0;
}

.main-movile-content {
    z-index: 99998;
    position: fixed;
    width: 80%;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main-movile-exit {
    z-index: 99998;
    position: fixed;
    width: 20%;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main-movile-title {
    height: 12%;
    width: 100%;
    background-color: rgb(28, 39, 88);
    padding: 15px 80px;
}

.main-movile-body ul {
    padding: 0;
    margin: 0;
}

.main-movile-body ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    padding: 10px 30px;
    font-weight: 600;
}

.main-movile-body ul li:last-child {
    border-bottom: 0;
}

.main-movile-body ul li i {
    margin-top: 5px;
    vertical-align: sub;
    padding-right: 20px;
    color: gray;
}

.main-movile-content ul ul {
    display: none;
    position: absolute;
    background: rgb(28, 39, 88);
    color: #FFFFFF;
    padding: 5px 0px 5px 5px;
    margin: 0;
    margin-left: -30px;
    margin-top: 10px;
    width: 100%;
}

.main-movile-content ul ul li {
    float: left;
    color: #FFFFFF;
    width: 100%;
    margin: 2% 0%;
    margin: 0;
    border-bottom: 1px solid #FFFFFF;
    height: 55px;
    padding-top: 20px;
}

.main-movile-content ul li:hover ul ul,
.main-movile-content ul li:hover ul ul ul,
.main-movile-content ul li.iehover ul ul,
.main-movile-content ul li.iehover ul ul ul {
    display: none;
    cursor: pointer;
}

.main-movile-content ul li:hover ul,
.main-movile-content ul ul li:hover ul,
.main-movile-content ul ul ul li:hover ul,
ul li.iehover ul,
.main-movile-content ul ul li.iehover ul,
.main-movile-content ul ul ul li.iehover ul {
    display: block;
    cursor: pointer;
    padding: 0;
}

.main-movile-content ul ul li:last-child {
    border-bottom: 0;
}

@media only screen and (max-width: 992px) {
    .mobile {
        display: block;
        padding: 0;
    }
    .brand-logo:first-child {
        display: none;
    }
    .iconMovile {
        display: block;
    }
}

.btnMovileLogin {
    padding: 0 !important;
    border-bottom: 0;
}

.helper_li_btn {
    padding-top: 15px !important;
    margin-left: -20px !important;
    width: 107% !important;
}