/*Lobby content */

.contentLobby {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
}

.timeHistory {
    font-size: 25px;
    font-weight: 600;
    padding-right: 20px;
    cursor: default;
}

.chatSection {
    background-color: #979797;
    width: 100%;
    margin-top: 7vh;
    min-height: 78vh;
    max-height: 78vh;
    border-bottom: 2px solid rgb(28, 39, 88);
    padding-top: 25px;
    overflow: scroll;
    overflow-x: hidden;
}

.textSection {
    background-color: rgb(28, 39, 88);
    width: 100%;
    min-height: 15vh;
    font-size: 17px;
}

.textBody {
    background-color: #FFFFFF;
    min-height: 10vh;
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.sendMsg {
    display: flex;
    flex-direction: row;
}

.btnSendMsg {
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.audioBtn {
    background-color: #ebebeb;
    border: 0;
    width: 50px;
    color: rgb(28, 39, 88);
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
}

.audioBtnStop {
    background-color: #ebebeb;
    border: 0;
    width: 50px;
    color: red;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
}

.audioBtn i {
    font-size: 50px;
}

.audioBtnStop i {
    font-size: 50px;
}


/* MESSAGES

/* nube de chat */

#psiquica-content-message {
    padding: 5px 20px;
    display: flex;
    cursor: default;
}

#psiquica-content-message img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
}

.psiquica-message {
    background-color: #FAFAFA;
    color: rgb(28, 40, 88);
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: default;
}

#cliente-content-message {
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
    cursor: default;
}

.cliente-message {
    background-color: rgb(28, 40, 88);
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    padding: 5px 8px;
    cursor: default;
}


/* CERRAR CHAT MODAL */

.closeChatContainer {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, .7);
    z-index: 1500;
}

.closeStarsContainer {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: rgb(28, 39, 88);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100%;
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
    transition: all .5s;
}

.closeStarsContainer:hover {
    background-color: #f57c00;
}

.starsContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    height: 400px;
    margin-top: -150px;
    background-image: url('../../../assets/img/fondo.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calificaTitle {
    text-align: center;
    font-weight: 600;
    color: rgb(28, 39, 88);
    margin-bottom: 25px;
}

.comentarioInput {
    resize: none;
    height: 80px;
    outline: none !important;
    box-shadow: 0 0 10px rgb(28, 39, 88);
    font-size: 18px;
}

.comentarioInput::placeholder {
    color: rgba(28, 39, 88, .7);
}

button.btnComentar {
    display: block;
    width: 100% !important;
    margin-top: 10px;
}

.advise {
    color: #979797;
}


/*STARS*/

.rating {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 30px;
}

.rating-star {
    display: block;
    width: 4rem;
    height: 4rem;
    background: url('../../../assets/img/stars.svg') 0 0;
    cursor: pointer;
}

.rating-star:hover,
.rating-star:hover~.rating-star,
.rating-input:checked~.rating-star {
    background-position: 0 64px;
}

@media only screen and (max-width: 992px) {
    .starsContainer {
        width: 95%;
        margin: 0;
        left: 0;
        top: 10%;
        margin-left: 2.5%;
        padding: 0;
    }
    .rating-star {
        width: 4.6rem;
        height: 4.7rem;
    }
}