<div class="slidelogin-container">
    <div class="slideLoginItem">
        <div class="loginItem fade">
            <img src="../../../../assets/img/login/slide0.png" alt="">
        </div>
    </div>
    <div class="slideLoginItem">
        <div class="loginItem fade">
            <img src="../../../../assets/img/login/slide1.png" alt="">
        </div>
    </div>
    <div class="slideLoginItem">
        <div class="loginItem fade">
            <img src="../../../../assets/img/login/slide2.png" alt="">
        </div>
    </div>
</div>