<app-navbar></app-navbar>
<div class="containerBody">
    <div class="contentCompras">
        <div class="row">
            <h5>Chatea con Josie</h5>
            <div class="col l12 s12">
                <div class="row">
                    <div class="col l6 s12 imgContainer">
                        <img class="imgCompras pointer" src="../../../assets/img/compras/josie.png">
                    </div>
                    <div class="col l6 s12 ">
                        <img class="imgCompras" src="../../../assets/img/publicidad/promo-10min.png">
                    </div>
                </div>
            </div>

            <h5>Chatea con Psíquicas</h5>
            <div class="col l12 s12">
                <div class="row">
                    <div class="col l4 s12 imgContainer">
                        <img class="imgCompras pointer" src="../../../assets/img/compras/20min.png">
                    </div>
                    <div class="col l4 s12 imgContainer">
                        <img class="imgCompras pointer" src="../../../assets/img/compras/30min.png">
                    </div>
                    <div class="col l4 s12 imgContainer">
                        <img class="imgCompras pointer" src="../../../assets/img/compras/50min.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>