.contentCompras {
    padding: 0 40px 0 40px;
    color: rgb(28, 39, 88);
}

.contentCompras h5 {
    font-weight: 600;
}

.contentCompras .imgCompras {
    width: 100%;
}

.contentCompras .pointer {
    cursor: pointer;
}

.imgContainer img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    width: 100%;
}

.imgContainer:hover img {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}

.modal {
    width: 45%;
}

.modal hr {
    margin-bottom: 10px;
}

.titleModalPago {
    text-align: left;
    font-size: 24px;
}

#contentLoading {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1501;
    background-color: rgba(0, 0, 0, .5);
}

.titleLoading {
    font-weight: 600;
    color: rgb(28, 39, 88);
    text-align: center;
    padding-bottom: 20px;
}

.bodyLoading {
    position: absolute;
    width: 40%;
    height: 200px;
    top: 30%;
    background-color: #ffffff;
    left: 30%;
    border-radius: 10px;
    padding: 15px 50px;
}

@media only screen and (max-width: 730px) {
    .contentCompras {
        padding: 0 20px 0 20px;
    }
    .bodyLoading {
        width: 96%;
        height: 180px;
        left: 2%;
        padding: 15px 30px;
    }
    .titleLoading {
        font-size: 24px;
    }
}

.modalProfileContent {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    z-index: 1000;
}

.modalProfileContent .modalContent {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 100px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
}

.modalProfileContent .modal-close {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 80%;
    }
    .modalProfileContent .modalContent {
        width: 95% !important;
        left: 2.5% !important;
    }
}