<app-navbar></app-navbar>
<div class="containerBody">
    <div class="row">
        <div class="col l6 s12 firstContent">
            <h4 class="titleHome center">Bienvenido al chat de Josie y sus psíquicas</h4>
            <div class="btnCenter">
                <button (click)="citarJos()" class="waves-effect waves-light btn btnJosie">Separa tu cita</button>
            </div>
        </div>
        <div class="col l6 s12">
            <iframe class="videoHome" src="../../../assets/video/chatjosie.mp4" frameborder="0" loop></iframe>
        </div>
    </div>

    <div class="row thirdContent colorJosie">
        <div class="col l4 s12 firstPart">
            <h4>Chatea con mis psíquicas</h4>
            <p class="center">Recibe la mejor respuesta a tus problemas</p>
            <button (click)="citarPsi()" class="waves-effect waves-light btn btnJosie">Click Aquí</button>
        </div>
        <div class="col l8 s12 ">
            <app-psiquico></app-psiquico>
        </div>
    </div>

    <div class="row secondContent">
        <div class="col l3 s12 horoscopoTitle">
            <img src="../../../assets/img/horoscopo_diario.png" alt="">
        </div>
        <div class="col l9 s12">
            <div class="row">
                <app-horoscopo></app-horoscopo>
            </div>
        </div>
    </div>

    <div class="row fourthContent">
        <div class="col l12 s12">
            <img src="../../../assets/img/suscribete.png" alt="">
            <button (click)="suscribir()" class="waves-effect waves-light btn btnJosie">
                Suscribirme
            </button>
        </div>
    </div>

    <!--div class="row fifthContent">
        <div class="col l4 s12 title">Josie Social</div>
        <div class="col l8 s12 buttons">
            <ul>
                <li>FACEBOOK</li>
                <li>INSTAGRAM</li>
            </ul>
        </div>
    </div-->

</div>
<app-footer></app-footer>