<div class="slidehoroscopo-container">
    <div class="slideitem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/signos/Aries.png" (click)="redirectDetalles('aries')">
                <p>Aries</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Tauro.png" (click)="redirectDetalles('tauro')">
                <p>Tauro</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Geminis.png" (click)="redirectDetalles('geminis')">
                <p>Géminis</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Cancer.png" (click)="redirectDetalles('cancer')">
                <p>Cáncer</p>
            </div>
        </div>
    </div>
    <div class="slideitem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/signos/Leo.png" (click)="redirectDetalles('leo')">
                <p>Leo</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Virgo.png" (click)="redirectDetalles('virgo')">
                <p>Virgo</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Libra.png" (click)="redirectDetalles('libra')">
                <p>Libra</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Escorpio.png" (click)="redirectDetalles('escorpio')">
                <p>Escorpio</p>
            </div>
        </div>
    </div>
    <div class="slideitem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/signos/Sagitario.png" (click)="redirectDetalles('sagitario')">
                <p>Sagitario</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Capricornio.png" (click)="redirectDetalles('capricornio')">
                <p>Capricornio</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Acuario.png" (click)="redirectDetalles('acuario')">
                <p>Acuario</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Piscis.png" (click)="redirectDetalles('piscis')">
                <p>Piscis</p>
            </div>
        </div>
    </div>
    <div class="prev colorJosie" (click)="plusSlides(-1,0)">&#10094;</div>
    <div class="next colorJosie" (click)="plusSlides(1,0)">&#10095;</div>
</div>