<div class="slidehoroscopo-container">
    <div class="slideitem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/signos/Aries.png" (click)="redirectDetalles('Aries')">
                <p>Aries</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Tauro.png" (click)="redirectDetalles('Tauro')">
                <p>Tauro</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Geminis.png" (click)="redirectDetalles('Géminis')">
                <p>Géminis</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Cancer.png" (click)="redirectDetalles('Cáncer')">
                <p>Cáncer</p>
            </div>
        </div>
    </div>
    <div class="slideitem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/signos/Leo.png" (click)="redirectDetalles('Leo')">
                <p>Leo</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Virgo.png" (click)="redirectDetalles('Virgo')">
                <p>Virgo</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Libra.png" (click)="redirectDetalles('Libra')">
                <p>Libra</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Escorpio.png" (click)="redirectDetalles('Escorpio')">
                <p>Escorpio</p>
            </div>
        </div>
    </div>
    <div class="slideitem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/signos/Sagitario.png" (click)="redirectDetalles('Sagitario')">
                <p>Sagitario</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Capricornio.png" (click)="redirectDetalles('Capricornio')">
                <p>Capricornio</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Acuario.png" (click)="redirectDetalles('Acuario')">
                <p>Acuario</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/signos/Piscis.png" (click)="redirectDetalles('Piscis')">
                <p>Piscis</p>
            </div>
        </div>
    </div>
    <div class="prev colorJosie" (click)="plusSlides(-1)">&#10094;</div>
    <div class="next colorJosie" (click)="plusSlides(1)">&#10095;</div>
</div>