<div class="slidelogin-container">
    <div class="slideLoginItem">
        <div class="loginItem fade">
            <img src="{{baseurl}}/home/home-1.png" class="slider-web">
            <img src="{{baseurl}}/home/home_celular-1.png" class="slider-movil">
        </div>
    </div>
    <div class="slideLoginItem ">
        <div class="loginItem fade ">
            <img src="{{baseurl}}/home/home-2.png" class="slider-web">
            <img src="{{baseurl}}/home/home_celular-2.png" class="slider-movil">
        </div>
    </div>
    <div class="slideLoginItem ">
        <div class="loginItem fade ">
            <img src="{{baseurl}}/home/home-3.png" class="slider-web">
            <img src="{{baseurl}}/home/home_celular-3.png" class="slider-movil">
        </div>
    </div>
    <div class="slideLoginItem ">
        <div class="loginItem fade ">
            <img src="{{baseurl}}/home/home-4.png" class="slider-web">
            <img src="{{baseurl}}/home/home_celular-4.png" class="slider-movil">
        </div>
    </div>
</div>