<div class="slidelogin-container">
  <div class="slideLoginItem">
    <div class="loginItem fade">
      <img src="http://127.0.0.1:8000/files/home/slider1.png" alt="">
      <h4 class="titleHome ">Bienvenido al chat de<br>Josie y sus psíquicas</h4>
      <button (click)="citarJos()" class="btnJosie btnSlider">Separa tu cita</button>
    </div>
  </div>
  <div class="slideLoginItem">
    <div class="loginItem fade">
      <img src="http://127.0.0.1:8000/files/home/slider2.png" alt="">
      <h4 class="titleHome ">MENSAJE DE BIENVENIDA<br> SLIDER 02</h4>
      <button (click)="citarJos()" class="btnJosie btnSlider">Separa tu cita</button>
    </div>
  </div>
  <div class="slideLoginItem">
    <div class="loginItem fade">
      <img src="http://127.0.0.1:8000/files/home/slider3.png" alt="">
      <h4 class="titleHome ">MENSAJE FINAL SLIDER<br> 03</h4>
      <button (click)="citarJos()" class="btnJosie btnSlider">Separa tu cita</button>
    </div>
  </div>
</div>