<div class="slidepsiquico-container">
    <div class="slidePsiItem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/psiquicos/alberto.png" alt="">
                <p>Alberto</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/consuelo.png" alt="">
                <p>Consuelo</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/fortuna.png" alt="">
                <p>Fortuna</p>
            </div>
        </div>
    </div>
    <div class="slidePsiItem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/psiquicos/luisa.png" alt="">
                <p>Luisa</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/luna.png" alt="">
                <p>Luna</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/miranda.png" alt="">
                <p>Miranda</p>
            </div>
        </div>
    </div>
    <div class="slidePsiItem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/psiquicos/rafael.png" alt="">
                <p>Rafael</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/sol.png" alt="">
                <p>Sol</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/soleil.png" alt="">
                <p>Soleil</p>
            </div>
        </div>
    </div>
    <div class="slidePsiItem">
        <div class="slidesignos fade">
            <div class="item">
                <img src="../../../../assets/img/psiquicos/topacio.png" alt="">
                <p>Topacio</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/wayra.png" alt="">
                <p>Wayra</p>
            </div>
            <div class="item">
                <img src="../../../../assets/img/psiquicos/zafiro.png" alt="">
                <p>Zafiro</p>
            </div>
        </div>
    </div>
</div>